# Python
__pycache__/
*.pyc
env/
venv/
.venv/
.env
.pytest_cache/
.mypy_cache/
.coverage
htmlcov/
.tox/
.eggs/
dist/
build/
*.egg-info/
.cache/
.pylint.d/
.ruff_cache/

# IDEs and editors
.vscode/
.idea/
.ropeproject/
*.swp

# Node
node_modules/

# Helm
*.tgz

# OS-specific
.DS_Store
