apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ include "s3-resource-operator.fullname" . }}
rules:
- apiGroups:
  - ""
  resources:
  - secrets
  - services
  verbs:
  - get
  - list
  - watch
  - create
  - update
  - patch
  - delete
- apiGroups:
  - apps
  resources:
  - deployments
  verbs:
  - get
  - list
  - watch
  - create
  - update
  - patch
  - delete
- apiGroups:
  - versity.io
  resources:
  - versitygw
  verbs:
  - get
  - list
  - watch
  - create
  - update
  - patch
  - delete
- apiGroups:
  - versity.io
  resources:
  - versitygw/finalizers
  verbs:
  - update
- apiGroups:
  - versity.io
  resources:
  - versitygw/status
  verbs:
  - get
  - patch
  - update
