name: Build and Publish

on:
  push:
    branches:
      - main
      - develop
    tags:
      - 'v*'

permissions:
  contents: write # Needed to push to the gh-pages branch
  packages: write # Needed to push docker image to ghcr.io
  issues: write
  pull-requests: write

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install -r requirements-test.txt
      - name: Run tests
        run: |
          pytest

      - name: Set up Helm
        uses: azure/setup-helm@v3
        with:
          version: 'v3.13.2' # Specify a specific Helm version

      - name: Test Helm chart
        run: helm template ./helm --debug

      - name: Build image
        id: build-image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: false
          load: true
          tags: local/s3-resource-operator:latest

      - name: Scan image
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: 'local/s3-resource-operator:latest'
          format: 'table'
          exit-code: '1'
          ignore-unfixed: true
          vuln-type: 'os,library'
          severity: 'CRITICAL,HIGH'

  build-and-publish:
    needs: test
    if: startsWith(github.ref, 'refs/tags/v')
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Log in to the GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata for Docker
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ghcr.io/${{ github.repository }}
          tags: |
            type=semver,pattern={{version}}
            type=semver,pattern={{major}}.{{minor}}
            type=semver,pattern={{major}}

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}

      - name: Set up Helm
        uses: azure/setup-helm@v3
        with:
          version: 'v3.13.2' # Specify a specific Helm version

      - name: Package Helm chart
        run: |
          helm package ./helm

      - name: Login to GHCR for Helm
        run: |
          echo ${{ secrets.GITHUB_TOKEN }} | helm registry login ghcr.io -u ${{ github.actor }} --password-stdin

      - name: Push Helm chart to GHCR
        run: |
          helm push s3-resource-operator-*.tgz oci://ghcr.io/${{ github.repository_owner }}