name: Test

on:
  push:
    branches:
      - develop
  pull_request:

permissions:
  contents: read

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install -r requirements-test.txt
      - name: Run tests
        run: |
          pytest -v

      - name: Set up Helm
        uses: azure/setup-helm@v3
        with:
          version: 'v3.13.2'

      - name: Test Helm chart
        run: helm template ./helm --debug

      - name: Build image
        id: build-image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: false
          load: true
          tags: local/s3-resource-operator:latest

      - name: Scan image
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: 'local/s3-resource-operator:latest'
          format: 'table'
          exit-code: '1'
          ignore-unfixed: true
          vuln-type: 'os,library'
          severity: 'CRITICAL,HIGH'
